.footer{
    background-color: black;
    color: $gray;
    font-size: 0.8rem;
    padding: 2rem 0;
    margin-top: 2rem;

    &__container{
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    &__content{
        align-items: center;
        justify-content: space-between;
        width: 370px;
        a{
            color: $gray;
        }

    }
}