.hero{
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0;
    .hero__title{
        font-size: 2rem;
        width: 35%;
        margin: 2rem;
    }
    .hero__img{
        min-width: 500px;
        min-height: 300px;
    }
}